USE [QLKS_8]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[UserName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL DEFAULT (N'Nter'),
	[PassWord] [nvarchar](1000) NOT NULL DEFAULT ((0)),
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPHANG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPHANG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUNHAP] [int] NULL,
	[MAHANG] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPTIENNGHI]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPTIENNGHI](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUNHAP] [int] NULL,
	[MATN] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [varchar](10) NOT NULL,
	[MAKHO] [varchar](10) NULL,
	[TENHANG] [nvarchar](50) NULL,
	[DONVITINH] [varchar](10) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuThue] [int] NULL,
	[NgayLap] [date] NULL DEFAULT (getdate()),
	[TongTien] [float] NULL,
	[TrangThai] [int] NULL DEFAULT ((0)),
	[TienPhong] [float] NULL,
	[TienDichVu] [float] NULL,
	[TENNV] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](30) NULL,
	[Sdt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[VITRI] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACC] [varchar](10) NOT NULL,
	[TENNHACC] [nvarchar](50) NULL,
	[SODT] [varchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TENNGUOILH] [nvarchar](50) NULL,
	[THONGTINKHAC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SODT] [varchar](11) NULL,
	[SOCMND] [varchar](10) NULL,
	[MABP] [varchar](10) NULL,
	[NGAYVAOLAM] [date] NULL,
	[LUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHACC] [varchar](10) NULL,
	[THOIGIANNHAP] [date] NULL,
	[NHANVIENNHAP] [varchar](10) NULL,
	[TONGSOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPTIENNGHI]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPTIENNGHI](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHACC] [varchar](10) NULL,
	[THOIGIANNHAP] [date] NULL,
	[NHANVIENNHAP] [varchar](10) NULL,
	[TONGSOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MaPhieuThue] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL DEFAULT (getdate()),
	[NgayDen] [date] NULL,
	[NgayDi] [date] NULL,
	[MaKH] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [int] NULL,
	[TrangThai] [nvarchar](20) NULL DEFAULT (N'trống'),
	[DonGia] [float] NULL DEFAULT ((0)),
	[Tang] [int] NULL,
	[Loai] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUEDICHVU]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEDICHVU](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuThue] [int] NULL,
	[MaDichVu] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuThue] [int] NULL,
	[MaPhong] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIENNHGI]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIENNHGI](
	[MATN] [varchar](10) NOT NULL,
	[TENTN] [nvarchar](50) NULL,
	[TINHTRANGTN] [nvarchar](50) NULL,
	[SOLUONGHIENCO] [int] NULL,
	[GIA] [int] NULL,
	[MAKHO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACCOUNT] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'nhan', N'nhaner', N'1', 1)
INSERT [dbo].[ACCOUNT] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'nhan1', N'nhanerpk', N'0', 0)
INSERT [dbo].[ACCOUNT] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'staff', N'staff', N'1', 0)
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'12', N'12', N'0')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'MBP01', N'Lễ tân 1222', N'Đón tiếp và thanh toán hóa đơn khách hàng')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'MBP02', N'Dễ dàng', N'Dọn dẹp và cung cấp theo nhu cầu khách hàng')
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPHANG] ON 

INSERT [dbo].[CT_PHIEUNHAPHANG] ([id], [MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (1, 16, N'MH03', 12)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([id], [MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (2, 16, N'MH03', 12)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([id], [MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (3, 17, N'MH01', 2)
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPHANG] OFF
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ON 

INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([id], [MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (1, 8, N'TN01', 12)
INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([id], [MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (2, 8, N'TN01', 12)
INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([id], [MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (3, 10, N'TN01', 20)
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] OFF
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MaDichVu], [name], [gia]) VALUES (1, N'xoa tay', 50000)
INSERT [dbo].[DICHVU] ([MaDichVu], [name], [gia]) VALUES (2, N'xông hơi', 50000)
INSERT [dbo].[DICHVU] ([MaDichVu], [name], [gia]) VALUES (3, N'đá bóng', 50000)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH01', N'MK01', N'BÀN CHẢI, ĐÁNH RĂNG', N'BO', 20000, 40, NULL)
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH02', N'MK01', N'KEM ĐÁNH RĂNG ', N'CAI', 30000, 50, NULL)
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH03', N'MK01', N'DAO CẠO- KEM CẠO RÂU', N'VND', 25000, 80, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([id], [MaPhieuThue], [NgayLap], [TongTien], [TrangThai], [TienPhong], [TienDichVu], [TENNV]) VALUES (85, 108, CAST(N'2020-01-25' AS Date), 200, 1, 200, 0, NULL)
INSERT [dbo].[HOADON] ([id], [MaPhieuThue], [NgayLap], [TongTien], [TrangThai], [TienPhong], [TienDichVu], [TENNV]) VALUES (86, 109, CAST(N'2020-02-25' AS Date), 300, 1, 400, 0, NULL)
INSERT [dbo].[HOADON] ([id], [MaPhieuThue], [NgayLap], [TongTien], [TrangThai], [TienPhong], [TienDichVu], [TENNV]) VALUES (87, 110, CAST(N'2020-03-25' AS Date), 800, 1, 400, 0, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Sdt]) VALUES (1, N'Nhân', 12)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Sdt]) VALUES (2, N'Thành Nghĩa', 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Sdt]) VALUES (3, N'Lâm', 2)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [VITRI], [MOTA]) VALUES (N'MK01', N'Kho1', N'1', N'Nơi Chứa Hàng Hóa')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [VITRI], [MOTA]) VALUES (N'MK02', N'Kho2', N'2', N'Nơi Chứa Tiện Nghi')
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC01', N'ABC Bakery', N'0918393389', N'111 Lê Văn Việt', N'Phạm Thành An', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC02', N'May Nha Be', N'0345345266', N'92 Võ Văn Ngân', N'Trần Minh Hằng', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC03', N'Chinsu', N'0354592918', N'582 Phan Văn Trị', N'Nguyễn Minh Thư', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV01', N'Nguyễn Thành Nhân', CAST(N'1990-06-03' AS Date), N'nam', N'Bình định', N'0123456', N'2134567', N'MBP02', CAST(N'2010-03-20' AS Date), 1000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV02', N'Nguyễn Trường An', CAST(N'1995-06-30' AS Date), N'nam', N'hcm', N'0123456', N'2356310', N'MBP04', CAST(N'2020-03-02' AS Date), 8000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV03', N'Nguyễn Thị LAn Anh', CAST(N'1995-12-21' AS Date), N'nu', N'hcm', N'0126453', N'2346541', N'MBP01', CAST(N'2010-03-20' AS Date), 8000000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPHANG] ON 

INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (1, N'NCC01', CAST(N'2020-12-04' AS Date), NULL, 0)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (2, N'NCC02', CAST(N'2020-12-05' AS Date), NULL, 0)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (3, N'NCC02', CAST(N'2020-12-05' AS Date), NULL, 0)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPHANG] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAPTIENNGHI] ON 

INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (1, N'NCC01', CAST(N'2020-12-05' AS Date), NULL, 0)
INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (2, N'NCC01', CAST(N'2020-12-05' AS Date), NULL, 0)
INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (3, N'NCC01', CAST(N'2020-12-05' AS Date), NULL, 0)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPTIENNGHI] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] ON 

INSERT [dbo].[PHIEUTHUE] ([MaPhieuThue], [NgayLap], [NgayDen], [NgayDi], [MaKH], [TrangThai]) VALUES (108, CAST(N'2020-12-25' AS Date), CAST(N'2020-12-25' AS Date), CAST(N'2020-12-25' AS Date), 1, N'hết')
INSERT [dbo].[PHIEUTHUE] ([MaPhieuThue], [NgayLap], [NgayDen], [NgayDi], [MaKH], [TrangThai]) VALUES (109, CAST(N'2020-12-25' AS Date), CAST(N'2020-12-26' AS Date), CAST(N'2020-12-27' AS Date), 1, N'hết')
INSERT [dbo].[PHIEUTHUE] ([MaPhieuThue], [NgayLap], [NgayDen], [NgayDi], [MaKH], [TrangThai]) VALUES (110, CAST(N'2020-12-25' AS Date), CAST(N'2020-12-30' AS Date), CAST(N'2020-12-31' AS Date), 1, N'hết')
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] OFF
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MaPhong], [SoPhong], [TrangThai], [DonGia], [Tang], [Loai]) VALUES (1, 101, N'trống', 200000, 1, N'Đơn')
INSERT [dbo].[PHONG] ([MaPhong], [SoPhong], [TrangThai], [DonGia], [Tang], [Loai]) VALUES (2, 102, N'trống', 200000, 1, N'Đơn')
INSERT [dbo].[PHONG] ([MaPhong], [SoPhong], [TrangThai], [DonGia], [Tang], [Loai]) VALUES (3, 103, N'có người', 200000, 1, N'Đơn')
SET IDENTITY_INSERT [dbo].[PHONG] OFF
SET IDENTITY_INSERT [dbo].[THUEDICHVU] ON 

INSERT [dbo].[THUEDICHVU] ([id], [MaPhieuThue], [MaDichVu], [SoLuong]) VALUES (54, 118, 1, 7)
INSERT [dbo].[THUEDICHVU] ([id], [MaPhieuThue], [MaDichVu], [SoLuong]) VALUES (55, 119, 1, 2)
INSERT [dbo].[THUEDICHVU] ([id], [MaPhieuThue], [MaDichVu], [SoLuong]) VALUES (56, 120, 1, 1)
SET IDENTITY_INSERT [dbo].[THUEDICHVU] OFF
SET IDENTITY_INSERT [dbo].[THUEPHONG] ON 

INSERT [dbo].[THUEPHONG] ([id], [MaPhieuThue], [MaPhong], [status]) VALUES (175, 109, 1, 1)
INSERT [dbo].[THUEPHONG] ([id], [MaPhieuThue], [MaPhong], [status]) VALUES (176, 109, 2, 1)
INSERT [dbo].[THUEPHONG] ([id], [MaPhieuThue], [MaPhong], [status]) VALUES (177, 110, 3, 1)
SET IDENTITY_INSERT [dbo].[THUEPHONG] OFF
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA], [MAKHO]) VALUES (N'TN01', N'AUDIBLE KHÓI BÁO ĐỘNG', N'TỐT', 55, 200000, N'MK02')
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA], [MAKHO]) VALUES (N'TN02', N'ĐIỀU HÒA ', N'TỐT', 84, 3000000, N'MK02')
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA], [MAKHO]) VALUES (N'TN03', N'TV LED/CÁP', N'TỐT ', 45, 2500000, N'MK02')
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPHANG_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG] CHECK CONSTRAINT [FK_CT_PHIEUNHAPHANG_HANG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPHANG_PHIEUNHAPHANG] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG] CHECK CONSTRAINT [FK_CT_PHIEUNHAPHANG_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPTIENNGHI_PHIEUNHAPTIENNGHI] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI] CHECK CONSTRAINT [FK_CT_PHIEUNHAPTIENNGHI_PHIEUNHAPTIENNGHI]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPTIENNGHI_TIENNHGI] FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNHGI] ([MATN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI] CHECK CONSTRAINT [FK_CT_PHIEUNHAPTIENNGHI_TIENNHGI]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHANVIENNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([NHANVIENNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUEDICHVU]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
GO
ALTER TABLE [dbo].[THUEDICHVU]  WITH CHECK ADD FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[TIENNHGI]  WITH CHECK ADD  CONSTRAINT [FK_TIENNHGI_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[TIENNHGI] CHECK CONSTRAINT [FK_TIENNHGI_KHO]
GO
/****** Object:  StoredProcedure [dbo].[deleteThuePhong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[deleteThuePhong] 
	@maPhieuThue INT,
	@maPhong INT
	AS
    BEGIN
    		DELETE dbo.THUEPHONG WHERE MaPhieuThue =@maPhieuThue AND MaPhong =@maPhong 
			UPDATE dbo.PHONG SET TrangThai = N'trống' WHERE MaPhong = @maPhong
    END
GO
/****** Object:  StoredProcedure [dbo].[getListDichVuByMaPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getListDichVuByMaPhieuThue]
	@MaPhieuThue INT	
	AS
    BEGIN
    	SELECT d.name AS name ,t.SoLuong AS count,d.gia AS price,t.SoLuong*d.gia AS TotalPrice FROM THUEDICHVU t,DICHVU d WHERE t.MaDichVu=d.MaDichVu AND t.MaPhieuThue= @MaPhieuthue
    END


GO
/****** Object:  StoredProcedure [dbo].[GetListPhieuThueDangAndCho]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[GetListPhieuThueDangAndCho]
	AS
	BEGIN
		SELECT * FROM PHIEUTHUE WHERE	DATEDIFF(DAY,GETDATE(),NgayDi)>=0 AND TrangThai=N'đang' OR TrangThai = N'chờ'
	END
GO
/****** Object:  StoredProcedure [dbo].[GetListPhieuThueHSD]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[GetListPhieuThueHSD]
	AS
    BEGIN
    	SELECT * FROM PHIEUTHUE WHERE	DATEDIFF(DAY,GETDATE(),NgayDi)>=0 AND TrangThai=N'đang'
    END

GO
/****** Object:  StoredProcedure [dbo].[getTienPhong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[getTienPhong]
	@maPhieuThue INT
	AS
    BEGIN

    SELECT SUM(p.DonGia)*(DATEDIFF(DAY,pt.NgayDen,pt.NgayDi)+1)
	FROM dbo.PHIEUTHUE pt, dbo.THUEPHONG tp ,dbo.PHONG p 

	WHERE pt.MaPhieuThue=tp.MaPhieuThue AND p.MaPhong=tp.MaPhong AND pt.MaPhieuThue=@maPhieuThue

	GROUP BY DATEDIFF(DAY,pt.NgayDen,pt.NgayDi)
	
    END


GO
/****** Object:  StoredProcedure [dbo].[getTongTienDichVu]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getTongTienDichVu] 
	@maPhieuThue INT
	AS
    BEGIN
    	SELECT SUM(gia)
		FROM dbo.PHIEUTHUE,dbo.THUEDICHVU,dbo.DICHVU 
		WHERE @maPhieuThue=PHIEUTHUE.MaPhieuThue AND PHIEUTHUE.MaPhieuThue= dbo.THUEDICHVU.MaPhieuThue AND DICHVU.MaDichVu = dbo.THUEDICHVU.MaDichVu 
    END
GO
/****** Object:  StoredProcedure [dbo].[getTongTienNhapHang]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[getTongTienNhapHang]
		@maPhieuthue INT
		AS
        BEGIN
			 DECLARE @tongTien INT
        	 SELECT  @tongTien= SUM(CT_PHIEUNHAPHANG.SOLUONG*GIA) FROM dbo.CT_PHIEUNHAPHANG,dbo.HANG WHERE MAPHIEUNHAP = @maPhieuthue AND CT_PHIEUNHAPHANG.MAHANG=HANG.MAHANG
		     UPDATE dbo.PHIEUNHAPHANG SET TONGSOTIEN = @tongTien WHERE MAPHIEUNHAP = @maPhieuthue
	    END
GO
/****** Object:  StoredProcedure [dbo].[getTongTienNhapTN]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[getTongTienNhapTN]
		@maPhieuthue INT
		AS
        BEGIN
			 DECLARE @tongTien INT
        	 SELECT  @tongTien= SUM(CT_PHIEUNHAPTIENNGHI.SOLUONG*GIA) FROM dbo.CT_PHIEUNHAPTIENNGHI,dbo.TIENNHGI WHERE MAPHIEUNHAP = @maPhieuthue AND CT_PHIEUNHAPTIENNGHI.MATN= dbo.TIENNHGI.MATN
		     UPDATE dbo.PHIEUNHAPTIENNGHI SET  TONGSOTIEN= @tongTien WHERE MAPHIEUNHAP = @maPhieuthue
	    END


GO
/****** Object:  StoredProcedure [dbo].[USP_ChuyenPhong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ChuyenPhong]
	@maPhieuThue INT,
	@maPhong INT,
	@maPhongChuyen INT
	AS
    BEGIN
		DECLARE @id INT
	
		SELECT @id=id FROM dbo.THUEPHONG WHERE	MaPhieuThue = @maPhieuThue AND MaPhong = @maPhong

		UPDATE dbo.THUEPHONG SET MaPhong = @maPhongChuyen WHERE id=@id

		UPDATE dbo.PHONG SET TrangThai = N'trống' WHERE MaPhong = @maPhong

		UPDATE dbo.PHONG SET TrangThai = N'có người' WHERE MaPhong = @maPhongChuyen
    	

    END

GO
/****** Object:  StoredProcedure [dbo].[USP_getListAllPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_getListAllPhieuThue]
	AS
    BEGIN
		SELECT * FROM PHIEUTHUE WHERE	DATEDIFF(DAY,GETDATE(),NgayDi)>=0  AND TrangThai != N'hết'
    END

GO
/****** Object:  StoredProcedure [dbo].[USP_getListPhieuThueByMaphong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_getListPhieuThueByMaphong]
	@maPhong INT
	AS
    BEGIN
    	SELECT PHIEUTHUE.MaPhieuThue,NgayLap,NgayDen,NgayDi,MaKH,PHIEUTHUE.TrangThai 
		FROM dbo.THUEPHONG, dbo.PHONG,dbo.PHIEUTHUE  
		WHERE PHIEUTHUE.MaPhieuThue=THUEPHONG.MaPhieuThue AND THUEPHONG.MaPhong= PHONG.MaPhong AND PHONG.MaPhong= @maPhong AND PHONG.TrangThai = N'có người' AND dbo.PHIEUTHUE.TrangThai = N'đang'
    END

GO
/****** Object:  StoredProcedure [dbo].[USP_getListPhieuThueByWait]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_getListPhieuThueByWait]
	AS
    BEGIN
    		SELECT * FROM dbo.PHIEUTHUE WHERE TrangThai = N'chờ'
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPhongTrongByDate]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListPhongTrongByDate]
	@ngayDen DATE,
	@ngayDi DATE
	AS
    BEGIN
	IF(DATEDIFF(DAY,@ngayDen,@ngayDi) >=0)
	BEGIN
		SELECT *  FROM dbo.PHONG WHERE MaPhong NOT IN (
		SELECT PHONG.MaPhong
		FROM dbo.PHIEUTHUE, dbo.THUEPHONG, dbo.PHONG 
		WHERE PHIEUTHUE.MaPhieuThue=THUEPHONG.MaPhieuThue AND dbo.THUEPHONG.MaPhong= dbo.PHONG.MaPhong 
			  AND
			  ( (NgayDen<@ngayDi AND @ngayDi< NgayDi) 
			  OR (NgayDen<@ngayDen AND @ngayDen< NgayDi) 
			  OR(@ngayDen < NgayDen AND NgayDi<@ngayDi)
			  OR(@ngayDen =NgayDen)
			  OR(@ngayDi = NgayDi)) AND (PHIEUTHUE.TrangThai = N'chờ' OR PHIEUTHUE.TrangThai = N'đang')
		)
	END
    END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPhongTrongByDateExp]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListPhongTrongByDateExp]
	@ngayDen DATE,
	@ngayDi DATE
	AS
    BEGIN
	IF (DATEDIFF(DAY,@ngayDen,@ngayDi) >=0)
	BEGIN
		SELECT *  FROM dbo.PHONG WHERE MaPhong NOT IN (
		SELECT PHONG.MaPhong
		FROM dbo.PHIEUTHUE, dbo.THUEPHONG, dbo.PHONG 
		WHERE PHIEUTHUE.MaPhieuThue=THUEPHONG.MaPhieuThue AND dbo.THUEPHONG.MaPhong= dbo.PHONG.MaPhong 
			  AND
			  ( (NgayDen<@ngayDi AND @ngayDi< NgayDi) 
			  OR (NgayDen<@ngayDen AND @ngayDen< NgayDi) 
			  OR(@ngayDen < NgayDen AND NgayDi<@ngayDi)
			  OR(@ngayDen =NgayDen)
			  OR(@ngayDi = NgayDi)) AND (PHIEUTHUE.TrangThai = N'chờ' OR PHIEUTHUE.TrangThai = N'đang')
		)
	END
    END


GO
/****** Object:  StoredProcedure [dbo].[USP_insertCT_hang]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_insertCT_hang]
	@maPhieuNhap INT,
	@maHang VARCHAR(20),
	@soLuong INT
	AS
    BEGIN
    INSERT dbo.CT_PHIEUNHAPHANG( MAPHIEUNHAP,MAHANG,SOLUONG )VALUES (@maPhieuNhap, @maHang,@soLuong)	
    END


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCt_phieuNhapHang]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_InsertCt_phieuNhapHang]
	@maPhieuNhap INT,
	@maHang NVARCHAR(20),
	@soLuong INT
	AS
    BEGIN
	DECLARE @maPT INT
		DECLARE @soLuongCu INT
		DECLARE @soLuongNew INT
		SELECT @maPT = MAPHIEUNHAP,@soluongCu=SOLUONG FROM dbo.CT_PHIEUNHAPHANG WHERE @maPhieuNhap=MAPHIEUNHAP AND MAHANG=@maHang
		IF(@maPT>0)
		BEGIN
			SET @soLuongNew = @soLuongCu+@soLuong 
			IF(@soLuongNew >0)
			UPDATE dbo.CT_PHIEUNHAPHANG SET SoLuong= @soLuongCu+ @soLuong WHERE @maPhieuNhap=MAPHIEUNHAP AND MAHANG=@maHang
			ELSE
			DELETE dbo.CT_PHIEUNHAPHANG WHERE	@maPhieuNhap=MAPHIEUNHAP AND MAHANG=@maHang
       
		END
		ELSE IF(@soLuong>0)
		INSERT dbo.CT_PHIEUNHAPHANG
		        ( MAPHIEUNHAP, MAHANG, SOLUONG )
		VALUES  ( @maPhieuNhap, -- MAPHIEUNHAP - int
		          @maHang, -- MAHANG - varchar(10)
		          @soLuong  -- SOLUONG - int
		          )	
		        
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCt_phieuNhapTN]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertCt_phieuNhapTN]
	@maPhieuNhap INT,
	@maTN NVARCHAR(20),
	@soLuong INT
	AS
    BEGIN
	DECLARE @maPT INT
		DECLARE @soLuongCu INT
		DECLARE @soLuongNew INT
		SELECT @maPT = MAPHIEUNHAP,@soluongCu=SOLUONG FROM dbo.CT_PHIEUNHAPTIENNGHI WHERE @maPhieuNhap=MAPHIEUNHAP AND MATN=@maTN
		IF(@maPT>0)
		BEGIN
			SET @soLuongNew = @soLuongCu+@soLuong 
			IF(@soLuongNew >0)
			UPDATE dbo.CT_PHIEUNHAPTIENNGHI SET SoLuong= @soLuongCu+ @soLuong WHERE @maPhieuNhap=MAPHIEUNHAP AND MATN=@maTN
			ELSE
			DELETE dbo.CT_PHIEUNHAPTIENNGHI WHERE	@maPhieuNhap=MAPHIEUNHAP AND MATN=@maTN
       
		END
		ELSE IF(@soLuong>0)
		INSERT dbo.CT_PHIEUNHAPTIENNGHI
		        ( MAPHIEUNHAP, MATN, SOLUONG )
		VALUES  ( @maPhieuNhap, -- MAPHIEUNHAP - int
		          @maTN, -- MAHANG - varchar(10)
		          @soLuong  -- SOLUONG - int
		          )	
		        
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_insertDichVuIntoPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[USP_insertDichVuIntoPhieuThue]
	@maPhieuThue INT,
	@maDichVu INT,
	@soLuong INT
	AS
    BEGIN
		DECLARE @maPT INT
		DECLARE @soLuongCu INT
		DECLARE @soLuongNew INT
		SELECT @maPT = MaPhieuThue,@soluongCu=SoLuong FROM dbo.THUEDICHVU WHERE @maPhieuThue=MaPhieuThue AND MaDichVu=@maDichVu
		IF(@maPT>0)
		BEGIN
			SET @soLuongNew = @soLuongCu+@soLuong 
			IF(@soLuongNew >0)
			UPDATE dbo.THUEDICHVU SET SoLuong= @soLuongCu+ @soLuong WHERE @maPhieuThue=MaPhieuThue AND MaDichVu=@maDichVu
			ELSE
			DELETE dbo.THUEDICHVU WHERE	@maPhieuThue=MaPhieuThue AND MaDichVu=@maDichVu
       
		END
		ELSE IF(@soLuong>0)
		INSERT dbo.THUEDICHVU	
		        ( MaPhieuThue, MaDichVu, SoLuong )
		VALUES  ( @maPhieuThue, -- MaPhieuThue - int
		          @maDichVu, -- MaDichVu - int
		          @soLuong  -- SoLuong - int
		          )
    	
    END


GO
/****** Object:  StoredProcedure [dbo].[USP_insertPhieuNhapTienNghi]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_insertPhieuNhapTienNghi]
	@maNcc VARCHAR(20)
	AS
    BEGIN
    	INSERT dbo.PHIEUNHAPTIENNGHI
    	        ( MANHACC ,THOIGIANNHAP , TONGSOTIEN)
    	VALUES  ('NCC01', -- MANHACC - varchar(10)
    	          GETDATE() , -- THOIGIANNHAP - date
    	          0.0  -- TONGSOTIEN - float
    	        )
    END

GO
/****** Object:  StoredProcedure [dbo].[USP_insertPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_insertPhieuThue]
	@NgayDen DATE,
	@ngayDi DATE,
	@maKH INT
	AS
    BEGIN
		INSERT dbo.PHIEUTHUE
		        ( NgayLap , NgayDen ,NgayDi ,  MaKH )
		VALUES  ( GETDATE(), @NgayDen,  @ngayDi, @maKH  )
    	
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_insertPhieuThueHang]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_insertPhieuThueHang]
	@maNcc VARCHAR(20)
	AS
    BEGIN
    	INSERT dbo.PHIEUNHAPHANG( MANHACC , THOIGIANNHAP ,  NHANVIENNHAP , TONGSOTIEN  )
	VALUES( @maNcc ,  GETDATE() , NULL ,    0  )
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_LoadThuePhongByMaPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_LoadThuePhongByMaPhieuThue]
	@maPhieuThue INT
	AS
    BEGIN
		SELECT * FROM dbo.THUEPHONG WHERE MaPhieuThue=@maPhieuThue
    	
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_nhanPhong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[USP_nhanPhong] 
	@maPhieuThue INT
	AS
    BEGIN
		
    	UPDATE dbo.PHIEUTHUE SET TrangThai= N'đang' WHERE @maPhieuThue=MaPhieuThue
		UPDATE dbo.THUEPHONG SET status =1 WHERE @maPhieuThue=MaPhieuThue
		SELECT MaPhong INTO temp FROM dbo.THUEPHONG WHERE MaPhieuThue= @maPhieuThue
		DECLARE @i INT =1
		DECLARE @n INT =1
		SELECT @n = COUNT(*) FROM dbo.PHONG
		DECLARE @maPhong INT =1
		WHILE(@i<=@n) 
		BEGIN
		IF(@maPhong IN	(SELECT MaPhong FROM temp))
		BEGIN
		      UPDATE dbo.PHONG SET TrangThai = N'có người' WHERE MaPhong=@maPhong       	                           	
		END 
		SET @maPhong =@maPhong+1    
		SET @i = @i +1      	
		END
		DROP TABLE temp
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateHoaDon]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateHoaDon]
	@maPhieuThue INT,
	@tienPhong FLOAT,
	@tienDichVu FLOAT,
	@tongTien FLOAT,
	@tenNv NVARCHAR(200)
	AS
    BEGIN
    	UPDATE dbo.HOADON SET TrangThai=1, TienPhong =@tienPhong, TienDichVu =@tienDichVu , TongTien=@tongTien,NgayLap = GETDATE(),TENNV = @tenNv WHERE MaPhieuThue =@maPhieuThue
		
		UPDATE dbo.PHIEUTHUE SET TrangThai =N'hết' WHERE MaPhieuThue = @maPhieuThue

		SELECT MaPhong INTO temp FROM dbo.THUEPHONG WHERE MaPhieuThue= @maPhieuThue

		DECLARE @i INT =1
		DECLARE @n INT = 1
		SELECT @n=COUNT(*) FROM dbo.PHONG
		DECLARE @maPhong INT =1
		WHILE(@i<=@n) 
		BEGIN
		IF(@maPhong IN	(SELECT MaPhong FROM temp))
		BEGIN
		      UPDATE dbo.PHONG SET TrangThai = N'trống' WHERE MaPhong=@maPhong       	                           	
		END 
		SET @maPhong =@maPhong+1    
		SET @i = @i +1        	
		END
		DROP TABLE temp

		
    END
GO
/****** Object:  Trigger [dbo].[UTG_insertPhieuThue]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE TRIGGER [dbo].[UTG_insertPhieuThue] ON [dbo].[PHIEUTHUE] FOR INSERT
	AS
	BEGIN
		DECLARE @ngayDen DATE
		DECLARE @maPhieuThue INT
		SELECT @ngayDen=Inserted.NgayDen, @maPhieuThue=Inserted.MaPhieuThue FROM Inserted
		IF( DATEDIFF(DAY,@ngayDen,GETDATE()) = 0)
		BEGIN
		    UPDATE dbo.PHIEUTHUE SET TrangThai = N'đang' WHERE @maPhieuThue=MaPhieuThue                                   	
		END
		ELSE 
		UPDATE dbo.PHIEUTHUE SET TrangThai= N'chờ' WHERE @maPhieuThue = MaPhieuThue
		INSERT dbo.HOADON
		        ( MaPhieuThue , NgayLap , TrangThai)
		VALUES  ( @maPhieuThue,  GETDATE(), 0 )
	END
	

GO
/****** Object:  Trigger [dbo].[UTG_InsertThuePhong]    Script Date: 6/3/2021 11:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_InsertThuePhong] ON [dbo].[THUEPHONG] FOR INSERT
	AS
    BEGIN
		DECLARE @maPhong INT
		DECLARE @maPhieuThue INT
        DECLARE @trangThai NVARCHAR(20)
    	SELECT @maPhong=Inserted.MaPhong,@maPhieuThue=Inserted.MaPhieuThue FROM Inserted
		SELECT @trangThai=TrangThai FROM dbo.PHIEUTHUE WHERE MaPhieuThue=@maPhieuThue 

		IF( @trangThai = N'đang')
		BEGIN
			UPDATE dbo.THUEPHONG SET status= 1 WHERE MaPhieuThue=@maPhieuThue AND MaPhong=@maPhong
			UPDATE PHONG SET TrangThai = N'có người' WHERE @maPhong=MaPhong 		
		END
		ELSE
		IF(@trangThai = N'chờ')
		BEGIN
			UPDATE dbo.THUEPHONG SET status= 0 WHERE MaPhieuThue=@maPhieuThue AND MaPhong=@maPhong
		END
    END


GO
